* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

header {
  max-width: 1200px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #fff;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

img {
  width: 40px;
  height: 40px;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

li a {
  color: black;
}

nav a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
}

li:hover a {
  border-bottom: 3px solid #00acdc;
  padding-bottom: 5px;
  color: #00acdc;
}
